@font-face {
  font-family: idroid;
  src: url('IDroid.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  background-image: linear-gradient(to bottom,#43B974, #28935B, #195e38, #082214);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 165px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* shorthand de font - style - wight - size - family -> ex. font: italic bolder 30px 'arial' , sans-serif;*/
}

.menu {
background-color: #082214;

width: 100%;
height: 46px;
padding: 10px;
box-shadow: 0 7px 7px rgba(0, 0, 0, 0.315);
display: flex;
justify-content: flex-start;
align-items: center;
}

body {
background-color: #B0FFC9;
}


h1 {
  font-size: 4.2em;
  text-align: center;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: 87%;
 
  
}

h2 {
  font-size: 30px;
  font-family: idroid;
  color:#082214;
  padding-top: 17px;
  margin-left: 20px;
}

h3 {
  font-size: 23px;
  font-family: idroid;
  color:#082214;
  margin-left: 20px;
}

h4 {
  font-size: 1.1em;
  opacity: 0.7;
  text-align: center;
  display: block;
  margin:0 auto;
  max-width: 850px;
  
}

.link {
  
  color: white;
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;
   
}

.link:hover {
  color: green;
  background-color: #B0FFC9;
  transition-duration: .8;
}



.paragrafo {
  font-size: 18px;
}


.link-irina {
color: black;
text-decoration: none;
font-weight: bold;
padding: 2px 6px;
background-color: #B0FFC9;

}
.link-irina:hover {
color: blue;
text-decoration: underline;

}

  main strong {
    color: #066a27;
    font-weight: bold;
  }
  
  


main {
  background-color: #B0FFC9;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  /** height: 100%;
  width: 100%;*/
}
section {
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.paragrafo {
  text-indent: 28px;
  text-align: justify;
  font-size: 12px;
  margin: 10px 15px;
}


.link-externo {
  text-decoration: none;
  color: #066a27;
  cursor: pointer; 
  padding: 2px 6px;
  background-color: #B0FFC9;
  
}

.link-externo2 {
  text-decoration: none;
  color: #066a27;
  cursor: pointer; 
  padding: 2px 6px;
  background-color: #01bc3c;
}

.link-externo2:hover {
  color: blue;
  text-decoration: underline; 
}

.link-externo:hover {
  color: blue;
  text-decoration: underline; 
  
}

.robos {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
}
.irina {
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bugdroid {
  display: block;
  margin: auto;
  width: auto;
}

span {
  color: #195e38;
  font-weight: bold;
}

.video {
  width: 100%;
  height: 350px;
  padding: 30px;
  background-color: #0e3e25;
  
}

.quer-aprender {
  width: 100%;
  height: 40px;
  margin: -10px 15px 0 0;
  background-color: #28935B;
  color: white;
  line-height: 39px;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
  

}

.caixa-2 { 
  
  border-radius: 20px;
  width: 96%;
  height:400px;
  background-color:#B0FFC9;
  margin: 14px 30px 10px 16px;
  
  
}

footer {
  background-color: #28935B;
  height: 40px;
  
}
.footer {
  text-align: center;
  padding: 10px;
  color: white;
  
  
}



footer > strong {
  color: white;
  font-weight: bold;
}

.lista {
  columns: 2;
  padding-bottom: 8px;
  margin-left: 36px;
  margin-right: -70px;
  font-size: 15px;
}
  


.check {
  
  list-style-type: '\2714\00a0\00a0';/*00A0 DÁ UM ESPAÇO APOS O "CHECK"*/
}

.paragrafo{
  font-size: 16px;
  margin: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 900px){
  
  .paragrafo {
    font-size: 14px;
  }
  .lista {
    font-size: 15px;
    margin-right: -153px;
  }
  
}

@media screen and (max-width: 450px){
  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: .8em;
    max-width: 320px;
  }

  .link {
    font-size: 12px;
  }

  .paragrafo {
    font-size: 13px;
  }

  .caixa-2 {
    height: 500px;
    margin: 14px 30px 10px 7px
  }

  .lista {
    font-size: 13px;
    margin-left: 13px;
    margin-right: -51px;
  }

  

}

@media screen and (max-width: 380px){

    .lista {
      font-size: 12px;
    }

    .footer {
      padding: 0;
    }

    .footer {
      font-size: 13px;
    }

    footer {
      width: 100vw;
      padding: 5px;
    }



}




